h1 {
	display: grid;
	grid-template-columns: 10rem 1fr 10rem;
}

h3 {
	display: grid;
	grid-template-columns: 1fr 10rem 10rem 10rem 1fr;

}

a {
	text-align: center;
	text-decoration: none;
	color: black;
}

.title {
	text-align: center;
}
